body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #0066ff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}
